Repository kirinnee/semantic-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, coverage, build, json-fmt, yaml-fmt, md-fmt, nixpkgs-fmt

eslint:
  name: Fix ES Lint
  entry: pls lint:fix
  pass_filenames: false
  language: system

coverage:
  name: Test and Coverage
  entry: pls cover
  pass_filenames: false
  language: system

build:
  name: Build
  entry: pls build -- 0.1.0
  pass_filenames: false
  language: system

json-fmt:
  name: Format JSON with prettier
  entry: pls fmt:json
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

feat: parsing of release rules
  src/classLibrary/release/configuration.ts
  src/classLibrary/release/releaseParser.ts
  test/release/configuration.test.ts
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

feat: parse preset config and default plugins
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

feat: converter to convert plugin to semanatic release plugin
  src/classLibrary/release/releaseParser.ts
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

feat: generator for releaserc object
  src/classLibrary/release/releaseParser.ts
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

config: package upgrades
  jest.config.ts
  package.json
  packages.nix
  pnpm-lock.yaml
Due: eslint, coverage, build, json-fmt, yaml-fmt, nixpkgs-fmt

feat: markdown table renderer
  src/classLibrary/release/documentParser.ts
  src/classLibrary/release/releaseParser.ts
  src/classLibrary/release/toMap.ts
  src/classLibrary/util.ts
  src/markdown-table.ts
  test/markdown-table.test.ts
  test/release/documentParser.test-tmp.ts
  test/release/releaseParser.test.ts
  test/util.test.ts
Due: eslint, coverage, build

feat: generator for conventional commit docs's table of content
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test-tmp.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

feat: markdown generator for v.a.e
  package.json
  pnpm-lock.yaml
  src/classLibrary/release/documentParser.ts
  src/classLibrary/util.ts
  test/release/documentParser.test.ts
  test/util.test.ts
Due: eslint, coverage, build, json-fmt, yaml-fmt

feat: markdown generator for type specific scopes
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

feat: generator for commit convention docs preamble
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

feat: generator for special scopes
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

feat: generator for type docs in commit convention docs
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

test: increase coverage for releaser
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

feat: generator for documentation
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build

feat: releaser
  src/classLibrary/executor/executor.ts
  src/classLibrary/executor/runtimes/npm.ts
  src/classLibrary/executor/runtimes/pnpm.ts
  src/classLibrary/executor/runtimes/yarn.ts
  src/classLibrary/release/ReleaseExecutor.ts
  src/classLibrary/release/documentParser.ts
  src/classLibrary/release/releaseParser.ts
  src/controllers/doc-controller.ts
  src/controllers/release-controller.ts
  src/semantic-generator.ts
  test/release/documentParser.test.ts
  test/release/releaseParser.test.ts
Due: eslint, coverage, build

fix: process exiting 0 when fail
  package.json
  src/controllers/doc-controller.ts
  src/controllers/release-controller.ts
Due: eslint, coverage, build, json-fmt

fix: smenatic releaser not installed during release
  src/classLibrary/release/ReleaseExecutor.ts
Due: eslint, coverage, build

fix: runtime cannot find global packages installed
  package.json
  scripts/ci/nix-cache.sh
  src/classLibrary/executor/executor.ts
  src/classLibrary/executor/runtimes/npm.ts
  src/classLibrary/executor/runtimes/pnpm.ts
  src/classLibrary/executor/runtimes/yarn.ts
  src/classLibrary/release/ReleaseExecutor.ts
Due: eslint, coverage, build, json-fmt

fix: missing package
  package.json
  src/classLibrary/release/ReleaseExecutor.ts
Due: eslint, coverage, build, json-fmt

feat: v0.2.0
  package.json
Due: build, json-fmt

fix: versioning
  .pre-commit-config.yaml
  Taskfile.yml
  package.json
  packages.nix
Due: build, json-fmt, yaml-fmt, nixpkgs-fmt

feat: gitlint linter
  .gitlint
  atomi_release.yaml
  package.json
  src/classLibrary/release/gitlint-checker.ts
  src/controllers/gitlint-controller.ts
  src/semantic-generator.ts
Due: eslint, coverage, build, json-fmt, yaml-fmt

fix(docs): edit pages
  package.json
  src/classLibrary/docs/configuration.ts
  src/classLibrary/docs/generate.ts
  src/controllers/doc-controller.ts
  template/docusaurus.config.js
Due: eslint, coverage, build, json-fmt

fix: using source folder instead of target folder
  package.json
  src/classLibrary/docs/configuration.ts
  src/classLibrary/docs/generate.ts
  src/controllers/doc-controller.ts
  template/docusaurus.config.js
Due: eslint, coverage, build, json-fmt

fix: missing baseRoutePath for docs
  package.json
  template/docusaurus.config.js
Due: eslint, coverage, build, json-fmt

config: update dependencies
  package.json
  template/docusaurus.config.js
  template/package-lock.json
  template/package.json
  template/pnpm-lock.yaml
Due: eslint, coverage, build, json-fmt, yaml-fmt

feat: remove newline in commitconventions
  package.json
  src/classLibrary/release/documentParser.ts
  test/release/documentParser.test.ts
Due: eslint, coverage, build, json-fmt

config: remove useless dependencies
  jest.config.ts
  package.json
Due: eslint, coverage, build, json-fmt

feat: fix edit url and add author and update time
  package.json
  src/classLibrary/docs/configuration.ts
  src/classLibrary/docs/generate.ts
  template/docusaurus.config.js
Due: eslint, coverage, build, json-fmt

feat: local install
  .pre-commit-config.yaml
  Taskfile.yml
  ci-env.nix
  nix/env.nix
  nix/packages.nix
  nix/shells.nix
  packages.nix
  pls.nix
  scripts/ci/ci.Taskfile.yaml
  shell.nix
  src/classLibrary/executor/runtimes/npm.ts
  src/classLibrary/executor/runtimes/pnpm.ts
  src/classLibrary/executor/runtimes/yarn.ts
Due: eslint, coverage, build, yaml-fmt, nixpkgs-fmt

v0.4.1
  package.json
Due: build, json-fmt

feat: v0.4.2.
  package.json
Due: build, json-fmt

config: update nix
  .envrc
  .gitignore
  .pre-commit-config.yaml
  Taskfile.yml
  nix/env.nix
  nix/packages.nix
  nix/shells.nix
  scripts/Taskfile.ci.yml
  scripts/Taskfile.clean.yml
  scripts/Taskfile.fmt.yml
  scripts/Taskfile.ide.yml
  scripts/Taskfile.lint.yml
Due: build, yaml-fmt, nixpkgs-fmt

chore: temp
  .editorconfig
  .envrc
  .github/workflows/ci.yaml
  .gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/semantic-generator.iml
  .idea/watcherTasks.xml
  .run/dev.run.xml
  .run/jest.config.ts.run.xml
  .run/run.run.xml
  Taskfile.yml
  config/.eslintrc.js
  config/.mocharc.js
  config/.nycrc.json
  config/.pre-commit-config.yaml
  nix/env.nix
  nix/packages.nix
  package.json
  pnpm-lock.yaml
Due: eslint, coverage, build, json-fmt, yaml-fmt, nixpkgs-fmt

0.6.0
  package.json
Due: build, json-fmt

feat: pin semantic-release versions
  package.json
  pnpm-lock.yaml
Due: build, json-fmt, yaml-fmt

feat: pin semantic-release versions
  package.json
Due: build, json-fmt

fix: linter
  nix/env.nix
  package.json
  pnpm-lock.yaml
Due: build, json-fmt, yaml-fmt, nixpkgs-fmt

fix: missing pin for installation
  src/classLibrary/release/ReleaseExecutor.ts
Due: eslint, coverage, build

Path conditions:
  eslint: any of: ^.*\.(ts|js)$
  coverage: any of: ^.*\.(ts|js)$
  build: any of: ^.*$
  json-fmt: any of: ^.*\.json$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
