Repository kirinnee/semantic-generator: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, coverage, build, json-fmt, yaml-fmt, md-fmt, nixpkgs-fmt

eslint:
  name: Fix ES Lint
  entry: pls lint:fix
  pass_filenames: false
  language: system

coverage:
  name: Test and Coverage
  entry: pls cover
  pass_filenames: false
  language: system

build:
  name: Build
  entry: pls build -- 0.1.0
  pass_filenames: false
  language: system

json-fmt:
  name: Format JSON with prettier
  entry: pls fmt:json
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

0.7.0
  package.json
Due: build, json-fmt

0.7.1
  package.json
Due: build, json-fmt

0.8.0
  package.json
Due: build, json-fmt

feat: v0.8.0
  package.json
Due: build, json-fmt

feat: downgrade to nodejs20
  nix/packages.nix
Due: build, nixpkgs-fmt

0.8.1
  package.json
Due: build, json-fmt

feat: downgrade
  package.json
  pnpm-lock.yaml
Due: build, json-fmt, yaml-fmt

0.8.2
  package.json
Due: build, json-fmt

feat: use node 22
  nix/packages.nix
Due: build, nixpkgs-fmt

0.8.3
  package.json
Due: build, json-fmt

0.8.4
  package.json
Due: build, json-fmt

feat: allow tweaking default package versions
  src/classLibrary/release/ReleaseExecutor.ts
  src/classLibrary/release/verison-manager.ts
  src/controllers/release-controller.ts
Due: eslint, coverage, build

0.9.0
  package.json
Due: build, json-fmt

feat: allow version in config
  src/classLibrary/release/ReleaseExecutor.ts
  src/classLibrary/release/configuration.ts
Due: eslint, coverage, build

0.10.0
  package.json
Due: build, json-fmt

0.10.1
  package.json
Due: build, json-fmt

feat(committer): ai commit generator
  src/.idea/.gitignore
  src/.idea/modules.xml
  src/.idea/src.iml
  src/.idea/vcs.xml
  src/classLibrary/ai-loader.ts
  src/classLibrary/committer/commitMessageGenerator.ts
  src/classLibrary/committer/committer.ts
  src/classLibrary/committer/formatter.ts
  src/classLibrary/committer/git.ts
  src/classLibrary/committer/install.ts
  src/classLibrary/committer/message.ts
  src/classLibrary/docs/generate.ts
  src/classLibrary/executor/runtimes/npm.ts
  src/classLibrary/executor/runtimes/pnpm.ts
  src/classLibrary/executor/runtimes/yarn.ts
  src/classLibrary/release/configuration.ts
  src/classLibrary/release/documentParser.ts
  src/controllers/committer-controller.ts
  src/controllers/doc-controller.ts
  src/controllers/release-controller.ts
  src/semantic-generator.ts
Due: eslint, coverage, build

update(default): add interactive flag to run task
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  src/classLibrary/ai-loader.ts
  src/classLibrary/committer/install.ts
  src/controllers/committer-controller.ts
  tests/release/configuration.spec.ts
  tests/release/documentParser.spec.ts
  tests/release/releaseParser.spec.ts
  tsconfig.json
  yarn.lock
Due: eslint, coverage, build, json-fmt, yaml-fmt

update(committer): use main sg instead of dev
  src/classLibrary/committer/install.ts
Due: eslint, coverage, build

update(default): bump version from 0.10.1 to 0.11.0
  package.json
Due: build, json-fmt

update(default): remove unused package and add semantic generator
  nix/env.nix
  nix/packages.nix
  package.json
  pnpm-lock.yaml
Due: build, json-fmt, yaml-fmt, nixpkgs-fmt

new: config-lint subcommand for release configurations
  atomi_release.yaml
  docs/developer/04-Config Lint.md
  src/classLibrary/release/config-linter.ts
  src/classLibrary/release/configuration.ts
  src/controllers/config-lint-controller.ts
  src/semantic-generator.ts
  tests/release/config-linter.spec.ts
Due: eslint, coverage, build, yaml-fmt, md-fmt

new: tag collision guard, refusing any existing tag regardless of minter
  docs/developer/05-Tag Guard.md
  src/classLibrary/release/tag-guard.ts
  src/controllers/release-controller.ts
  src/controllers/tag-guard-controller.ts
  src/semantic-generator.ts
  tests/release/tag-guard.spec.ts
Due: eslint, coverage, build, md-fmt

new(release): end-to-end proof that the tag guard refuses any minter
  docs/developer/05-Tag Guard.md
  sabotage/wf4-tag-collision-guard.out
  sabotage/wf4-tag-collision-guard.sh
Due: build, md-fmt

new(release): prove the guard is wired into sg release, not merely shipped
  sabotage/wf4-tag-collision-guard.out
  sabotage/wf4-tag-collision-guard.sh
Due: build

update(default): sg conventions command to enforce generated docs
  src/classLibrary/lineDiff.ts
  src/classLibrary/release/config-reader.ts
  src/classLibrary/release/conventions-checker.ts
  src/controllers/conventions-controller.ts
  src/semantic-generator.ts
  tests/lineDiff.spec.ts
  tests/release/conventions-checker.spec.ts
Due: eslint, coverage, build

docs(dev): regenerate commit convention document from config
  docs/developer/03-Commit Conventions.md
Due: build, md-fmt

chore(default): sabotage harness for the conventions command
  sabotage/conventions-check.sh
Due: build

chore(default): record sabotage run output for the conventions command
  sabotage/conventions-check.out
Due: build

new(default): runtime-named version bump presets
  docs/developer/04-Version Bumping.md
  sabotage/wf4-bump-types.sh
  src/classLibrary/release/ReleaseExecutor.ts
  src/classLibrary/release/bump/bump-types.ts
  src/classLibrary/release/bump/bumper.ts
  src/classLibrary/release/bump/self-command.ts
  src/classLibrary/release/configuration.ts
  src/classLibrary/release/releaseParser.ts
  src/classLibrary/release/verison-manager.ts
  src/controllers/bump-controller.ts
  src/controllers/release-controller.ts
  src/semantic-generator.ts
  tests/release/bump-types.spec.ts
  tests/release/bumper.spec.ts
  tests/release/configuration.spec.ts
  tests/release/releaseParser.spec.ts
  tests/release/self-command.spec.ts
Due: eslint, coverage, build, md-fmt

ci(default): record wf4 bump-types sabotage run output
  sabotage/wf4-bump-types.out
Due: build

Path conditions:
  eslint: any of: ^.*\.(ts|js)$
  coverage: any of: ^.*\.(ts|js)$
  build: any of: ^.*$
  json-fmt: any of: ^.*\.json$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
